{% extends 'base.html' %}
 
{% block title %}Profile{% endblock %}
 
{% block content %}
    <h2>Профиль</h2>
    <p>{{ user.username }}</p>
    <p>{{ user.bio }}</p>
    <p>{{ user.first_name }}</p>
    <p>{{ user.last_name }}</p>
    <p>{{ subs_count }} - Количество подписчиков</p>
    {% if user.username != request.user.username %}
        {% if subscribe == False %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="subscribe">Подписаться</button>
            </form>
        {% else %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="unsubscribe">Отписаться</button>
            </form>
        {% endif %}
    {% endif %}
    <p><a><a href="http://127.0.0.1:8000/exit/">Выйти</a></p>
    <p><a href="http://127.0.0.1:8000/add_photo/">Добавить пост</a></p>
    <p><a href="http://127.0.0.1:8000/news/">Новости</a></p>
    <ul>
        {% for post in posts %}
            <li>
                <p>{{ post.text }}</p>
                <img src="{{ post.photo.url }}" alt="{{ post.text }}">
            </li>
        {% endfor %}
    </ul>
{% endblock %}